<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="disinfection_robot" command="cat '$(find disinfection_robot)/models/dis_robot/model.sdf'" />

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-sdf -param disinfection_robot -model dis_robot -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>