<?xml version="1.0"?>
<model>
  <name>Disinfection Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Katarzyna Czarnacka</name>
   <email>kasiaczarna051@gmai.com</email>
  </author>

  <description>
    UV desinfection robot model
  </description>
</model>
